@{
    ViewData["Title"] = "About";
}

<div class="col-md-6 p-0">
    <div class="card">
        <div class="login-box">
            <div class="login-snip">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Acerca de nosotros</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up" disabled style="display:none;"><label for="tab-2" class="tab"></label>
                <div class="login-space">
                    <div class="login">
                        <br /><br />

                        <label class="label">Somos un grupo de estudiantes de la carrera de Ingeniería en Sistemas de Información de la Universidad Tecnológica Nacional, quienes realizaron
                        este proyecto para la catedra de Inteligencia Artificial</label>
                        <br /><br />
                        <div class="group" style="">
                            <ul style="display: inline-block;
                                        text-align: left;
                                        width: 400px; background: rgba(255, 255, 255, .1);
                                        background-color: rgba(255, 255, 255, .1);
                                        border-radius: 10px;
                                        color: #aaab;">
                                <li style="margin:10px; margin-left:90px"><label id="lblHome_Population">Gabriel Simois</label></li>
                                <li style="margin:10px; margin-left:90px"><label id="lblHome_Generations">Emilio Filotti</label></li>
                                <li style="margin:10px; margin-left:90px"><label id="lblHome_SolverSelection">Matias Santillan</label></li>
                                <li style="margin:10px; margin-left:90px"><label id="lblHome_CrossoverProbability">Danila Gallo</label></li>
                                <li style="margin:10px; margin-left:90px"><label id="lblHome_MutationProbability">Diego Barchiesi</label></li>
                                <li style="margin:10px; margin-left:90px"><label id="lblHome_MutationProbability">Franco Barchiesi</label></li>
                            </ul>
                            <div class="hr"></div>
                        </div>
                        <div class="sign-up-form">
                            <br /><br />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>